<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.14.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>
<body>
<h1>Add a new movie</h1>

<h1>Form</h1>
<form action="#" th:action="@{/add_movie}" th:object="${film}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">NameError</p></p>

    <p>Description: <textarea type="text" th:field="*{description}"/></p>

    <p>Budget: <input type="number" th:field="*{budget}" min="0" max="2147483647"/>
    <p th:if="${#fields.hasErrors('budget')}" th:errors="*{budget}">BudgetError</p></p>

    <p>Year: <input type="number" th:field="*{year}" min="0" max="2021"/>
    <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}">YearError</p></p>

    <p>Runtime (minutes): <input type="number" th:field="*{runtime}" min="0" max="2147483647"/> </p>
    <p th:if="${#fields.hasErrors('runtime')}" th:errors="*{runtime}">RuntimeError</p>

    <label> Жанры:
        <select name="filmGenres" multiple="multiple" class="selectpicker">
            <option  th:each="genre: ${genreList} "
                     th:value="${genre.getName()}" th:text="${genre.getName()}"></option>
        </select>
    </label>

    <label> Страны:
        <select name="filmCountries" multiple="multiple" class="selectpicker">
            <option  th:each="country: ${countryList} "
                     th:value="${country.getName()}" th:text="${country.getName()}"></option>
        </select>
    </label>

    <label> Студии:
        <select name="filmStudious" multiple="multiple" class="selectpicker">
            <option  th:each="studio: ${studioList} "
                     th:value="${studio.getName()}" th:text="${studio.getName()}"></option>
        </select>
    </label>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

</body>
</html>