<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Spring Boot Thymeleaf Application - Bootstrap Select Option</title>

  <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>


<div class="container">

  <div class="row">

    <div class="form-group">
        <label for="dips">Select dips</label>
        <select class="form-control selectpicker" th:field="*{dips}" id="dips" multiple>

          <option th:each="dip : ${T(com.frontbackend.thymeleaf.bootstrap.model.Dip).values()}"
                  th:value="${dip}"
                  th:text="${dip}">dip
          </option>

        </select>
      </div>

      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
    <div class="col-md-4 mt-5">
    </div>
  </div>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>
</html>