<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:utext="${selectedMovie.getName()}">info</title>
    <style>
        .listdetail {
            display: inline-block;
            margin-left:100px;
            vertical-align: text-top;
        }


    </style>
</head>
<body>


<div>
    <p th:text="${selectedMovie.getName()}"></p>
    <p th:text="${selectedMovie.getDescription()}"></p>
    <p th:text="${selectedMovie.getBudget()}"></p>
    <p th:text="${selectedMovie.getYear()}"></p>
    <p th:text="${selectedMovie.getRuntime()}"></p>
    <div class="listdetail">
        Жанры:
        <div th:each="genre : ${selectedMovie.getGenres()}">
            <h4 th:text="${genre.getName()}"></h4>
        </div>
    </div>
    <div class="listdetail">
        Страны:
        <div th:each="country : ${selectedMovie.getCountries()}">
            <h4 th:text="${country.getName()}"></h4>
        </div>
    </div>
    <div class="listdetail">
        Студии:
        <div th:each="studio : ${selectedMovie.getStudios()}">
            <h4 th:text="${studio.getName()}"></h4>
        </div>
    </div>
</div>
<!--<p th:utext="${selectedMovie.getGenres().get(0).getName()}"></p>-->

</body>
</html>